name: Run tests

on:
  push:
  schedule:
  - cron: '0 2 * * *'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.ref != 'refs/heads/master' || github.run_number }}
  cancel-in-progress: true

jobs:
  job1:
    name: "Get tutorials list"
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
    - uses: actions/checkout@v4
    - id: set-matrix
      run: |
        echo "matrix={\"node\":[$(python getter.py)]}" >> $GITHUB_OUTPUT
  job2:
    needs:
    - job1
    name: "Run tests"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix: ${{fromJSON(needs.job1.outputs.matrix)}}
    timeout-minutes: 30
    steps:
    - uses: actions/checkout@v4
    - name: "Set up Julia"
      uses: julia-actions/setup-julia@v2
      with:
        version: '1.10'
    - name: "Install Jupyter"
      run: pip3 install notebook jupytext
    - name: "Install julia pre-requisites"
      run: |
        julia -e '
          using Pkg
          Pkg.add("IJulia")
          Pkg.add("Oscar")
          Pkg.add("BenchmarkTools")
          Pkg.add("GraphRecipes")
          Pkg.add("Graphs")
          Pkg.add("Interact")
          Pkg.add("Plots")'
    - run: mkdir -pv notebooks
    - name: Use default julia environment
      run: |
        cat ~/.local/share/jupyter/kernels/julia-1.10/kernel.json | sed 's/^.*project=.*$//' > ~/.local/share/jupyter/kernels/julia-1.10/kernel.json.new
        mv -v ~/.local/share/jupyter/kernels/julia-1.10/kernel.json.new  ~/.local/share/jupyter/kernels/julia-1.10/kernel.json
    - run: python3 tester.py ${{ matrix.node }}
    - run: echo "nbname=$(ls notebooks/*.ipynb | sed 's/notebooks\///')" >> $GITHUB_OUTPUT
    - name: Upload new notebook
      uses: actions/upload-artifact@v4
      with:
        name: ${{ nbname }}
        path: notebooks/*.ipynb
        retention-days: 7
    - name: Notify Slack Action
      if: always()
      uses: ravsamhq/notify-slack-action@2.5.0
      with:
          token: ${{ secrets.GITHUB_TOKEN }}
          status: ${{ job.status }}
          message_format: "{emoji} *${{matrix.node}}* {status_message} in <{run_url}>"
          notify_when: 'failure,cancelled,skipped'
      env:
        SLACK_WEBHOOK_URL: ${{ secrets.ACTION_MONITORING_SLACK }}
            
